# Dependencies
node_modules/
**/node_modules/

# OS files
.DS_Store

# Build outputs
dist/
build/

# Env files
.env
.env.*

# Test/Reports
coverage/
playwright-report/
test-results/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo
